<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/burger_style.css" type="text/css" />
		<title>EAT da Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="/js/burgers.js"></script>
	</head>
	<body>

		<div class="container topImage">
              	<img src="/img/burgerTacoRoll.gif" id="leadImage" alt="leadImage"> 
        </div>

		{{{ body }}}

	<div class="fixed-bottom">
      <section>
          <div class= "row row_footer">
              <div class="col-lg-6 col-xs-6">
                  <p>Copyright &copy; | Precise Insights | All Rights Reserved</p>
              </div>
              <div class="col-lg-2 col-xs-6">
                  <a href="https://www.linkedin.com/in/benjamin-presseisen-7486445"> <img  src="/img/footer/linkedin-128.jpeg" class="footerIcons" alt="LinkedIn"> </a>
              </div>
              <div class="col-lg-2 col-xs-6">
                  <a href="https://github.com/BPresseisen"> <img src="/img/footer/GitHub_transp2.png" class="footerIcons" alt="GitHub"> </a>
              </div>
              <div class="col-lg-2 col-xs-6">
                      <a href="https://stackoverflow.com/users/10905805/benjamzino "> <img src="/img/footer/stackoverflow-128.png" class="footerIcons" alt="stackoverflow"> </a>
              </div>
          </div>
      </section>

	</body>

</html>
